#first {
    color: #0c8f7d;
    background-color: #55288f;
}

#second {
    color: rgb(224, 189, 189);
    background-color: #184118;
}

#three {
    color: #0000ff;
    background: #643d32;
}

#four {
    color: #692952;
    background-color: rgb(129, 27, 27);
}
