h2 {
    color: red;
    font-size: 60px;
}


*{
    margin: 0;
}
.navbar {
    background: rgb(35, 35, 148);
    height: 100px;
    color: white;
    font-size: 3rem;
}
.banner {
    background: rgb(161, 83, 83);
    min-height: calc(100vh - 100px);
}